/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.container {
    background-color: #161616;
    color: white;
    margin: 50px 8.75% 130px 8.75%;
    width: 82.5%;
    border-radius: 30px;
    display: flex;
    /* justify-content: center; */
}

.heading {
    padding-top: 111px;
    padding-bottom: 111px;
    padding-left: 106px;
    width: 531px;
    /* padding: 111px 684px 111px 106px; */
}

h1 {
    font-size: 70px;
    font-weight: 700;
    margin: 0px 0px;
}

article {
    font-size: 22px;
}

p {
    font-size: 16px;
}

.heading-article {
    margin-bottom: 46px;
    margin-top: 20px;
    /* width: 187px;
    height: 56px; */
}

.button_s {
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    padding: 16px 25px;

}

div img {
    width: 100%;
}

.player {
    display: flex;
    align-items: center;
}

.mid {
    margin: 50px 8.75% 130px 8.75%;
    width: 82.5%;
}

.nav {
    background-color: #161616;
    padding: 30px;
    margin-right: 24px;
    width: 282px;
    border-radius: 10px;
    float: left;
}

.button_m {
    display: block;
    text-align: center;
    padding: 17px 39px;
    width: 204px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 30px;
}

div.button_m>a {
    text-decoration: none;
    font-size: 20px;
    color: #161616;
    font-weight: 500;
    line-height: 30px;
}

.button_sel {
    display: block;
    text-align: center;
    width: 204px;
    padding: 17px 39px;
    background-color: #DD0000;
    border-radius: 10px;
}

div.button_sel>a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    line-height: 30px;
}

.all_news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-left: 24px;
}

.news {
    border: 1px solid rgba(0, 0, 0, 0.134);
    border-radius: 10px;
}

.news_text {
    border: 10px solid white;
    text-align: center;

}

.flag {
    display: flex;
    padding: 20px;
}

.button_bottom {
    display: none;
}

.main_footer {
    background-color: #161616;
    padding-left: 10%;
    padding-right: 10%;
}

.bottom {
    background-color: #161616;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 42px;
    margin-left: 50px;
    margin-right: 50px;

}

hr {
    margin: 0px;
}

.footer {
    display: flex;
    color: #FFFFFF;
    /* border-left: 50px;
    border-right: 50px; */
    background-color: #161616;
    padding-bottom: 130px;
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

}

h2 {
    font-size: 40px;
}

.footer_button {
    margin-left: auto;
    margin-right: auto;
}